<<<<<<< HEAD
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", system-ui;
}

.nuraib {
    width: 100%;
    height: 780px;
    background: #EFEFEF;
    display: flex;
    flex-direction: column;
    gap: 34px;
}

.nuraib .header {
    font-size: 55px;
    height: 93px;
    margin-left: 121px;
    margin-top: 91px;
    line-height: 55.76px;
}

.nuraib .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 791px;
    height: 451px;
    margin-left: 125px;
    border-radius: 30px;
    background-color: #FFF;
    -webkit-box-shadow: -14px -7px 141px -110px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -14px -7px 141px -110px rgba(0, 0, 0, 0.75);
    box-shadow: -14px -7px 141px -110px rgba(0, 0, 0, 0.75);
}

.nuraib .container .box {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-left: 20px;
}

.nuraib .container .box .title {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.nuraib .container .box .info {
    width: 100%;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: flex-start;
}

.nuraib .container .box .info .info-text .text {
    font-weight: 700;
    font-size: 30px;
    line-height: 30.42px;
    margin-bottom: 40px;
}

/* Media Query for Tablet Mode */
@media (max-width: 768px) {
    .nuraib {
        height: auto;
    }

    .nuraib .header {
        font-size: 35px;
        margin-left: 40px;
        margin-top: 20px;
        text-align: start;
    }

    .nuraib .container {
        width: 70%;
        margin-left: 40px;
        padding: 10px;
    }

    .nuraib .container .box {
        margin-left: 0;
        padding: 10px;
        gap: 20px;
    }

    .nuraib .container .box .title {
        font-size: 16px;
        line-height: 22px;
    }

    .nuraib .container .box .info .info-text .text {
        font-size: 20px;
        margin-bottom: 20px;
    }
}

/* Media Query for Mobile Phones */
@media (max-width: 480px) {
    .nuraib .container {
        width: 90%; /* Adjusted to 90% width for mobile */
        margin: 0 auto; /* Center the container horizontally */
        padding: 5px;
    }

    .nuraib .header {
        font-size: 28px;
        margin-left: 5px;
        margin-top: 10px;
    }

    .nuraib .container .box {
        padding: 5px;
        gap: 15px;
    }

    .nuraib .container .box .title {
        font-size: 14px;
        line-height: 20px;
    }

    .nuraib .container .box .info {
        gap: 10px;
    }

    .nuraib .container .box .info .info-text .text {
        font-size: 18px;
        margin-bottom: 10px;
    }
}
=======
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

section{
    font-family: Roboto;
    margin-left: 8em;
}

.content-bir{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4em;
}

.content-iki{
    width: 100%;
    margin-top: 6em;
    margin-bottom: 9em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.kamal h1{
    font-family: Roboto Slab;
    font-weight: 700;
    font-size: 55px;
    height: 1em;
}

.kamal .par{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 24px;
    line-height: 1.5em;
}

.kamal .content-bir img{
    width: 23em;
    height: 21.5em;
    padding-left: 5.6em;
}

.kamal .content-iki img{
    width: 14.5em;
    height: 13.6em;
}



.kamal .content-table{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 9.3em;
    gap: 5.3em;
}

.kamal .tab{
    width: 9.3em;
}

.kamal .content-table h3{
    font-size: 25px;
    height: 0.48em;
}

.kamal .content-table p{
    font-size: 18px;
}

.kamal .content-table-iki{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 8em;
    margin-bottom: 12.5em;
    gap: 7.5em;
}

.kamal .tab-iki{
    width: 15em;
}

.kamal .content-table-iki h3{
    font-weight: bold;
    color: #1E4681;
    font-size: 25px;
    height: 0.6em;
}

.kamal .content-table-iki p{
    font-size: 18px;
}

.kamal ul{
    font-size: 24px;
    width: 30em;
    margin: 0;
    padding: 0 1em;
}

.kamal ul li{
    padding-bottom: 0.41em;
}

/*phone*/
@media screen and (min-width: 0px) and (max-width: 600px) {

    section{
        margin-left: 2em;
    }

    .kamal .content-bir{
        flex-direction: column;
        gap: 2em;
    }

    .kamal h1{
        font-size: 36px;
    }
    
    .kamal .par{
        font-size: 18px;
    }

    .kamal .content-bir img{
        width: 14em;
        height: 14em;
        padding-left: 0;
    }

    .kamal .content-iki img{
        display: none;
    }

    .kamal .content-table{
        margin: 0;
    }

    .kamal .content-iki{
        margin-bottom: 3em;
    }

    .kamal .tab{
        width: 6em;
    }

    .kamal .content-table h3{
        font-size: 18px;
        height: .8em;
    }

    .kamal .content-table p{
        font-size: 14px;
    }

    .kamal .content-table-iki{
        margin-top: 3.5em;
        margin-bottom: 6em;
        gap: 3.5em;
    }

    .kamal .tab-iki{
        width: 18em;
    }

    .kamal .content-table-iki h3{
        font-size: 20px;
     }

     .kamal .content-table-iki p{
        font-size: 16px;
     }

     .kamal ul{
        width: 100%;
        margin: 0;
        padding: 0 .8em;
     }
     .kamal li{
        font-size: 14px;
     }
}

/* tablet */
@media screen and (min-width: 601px) and (max-width: 991px) {

    section{
        margin-left: 3em;
    }
    .kamal h1{
        font-size: 32px;
    }

    .kamal .par{
        font-size: 14px;
    }

    .kamal .content-bir{
        gap: 2em;
    }

    .kamal .content-bir img{
        width: 10em;
        height: 10em;
        padding: 0 3em;
    }
    
    .kamal .content-iki{
        margin-top: 2em;
        margin-bottom: 4em;
    }
    .kamal .content-iki img{
        width: 8.4em;
        height: 7.3em;
    }

    .kamal .content-table{
        margin-left: 4em;
        gap: 4em;
    }
    .kamal .tab{
        width: 6em;
    }
     .kamal .content-table h3{
        font-size: 15px;
        height: .8em;
     }

     .kamal .content-table p{
        font-size: 11px;
     }

     .kamal .content-table-iki{
        margin-top: 4em;
        margin-bottom: 6em;
        gap: 4em;
     }

     .kamal .content-table-iki h3{
        font-size: 15px;
     }

     .kamal .content-table-iki p{
        font-size: 11px;
     }

     .kamal ul{
        width: 100%;
        margin: 0;
        padding: 0 .5em;
     }
     .kamal li{
        font-size: 14px;
     }
}
>>>>>>> bba9cf6612d1b15c58db355ece8c9380d70954d9
