/* body {
  max-width: 1440px;
  font-family: "Roboto";
  padding: 2.5vh 10vw;
} */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", system-ui;
}

.kamal {
  font-family: Roboto;
  margin-left: 8em;
}

.content-bir {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4em;
}

.content-iki {
  width: 100%;
  margin-top: 6em;
  margin-bottom: 9em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.kamal h1 {
  font-family: Roboto Slab;
  font-weight: 700;
  font-size: 55px;
  height: 2em;
}

.kamal .par {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 24px;
  line-height: 1.5em;
}

.kamal .content-bir img {
  width: 23em;
  height: 21.5em;
  padding-left: 5.6em;
}

.kamal .content-iki img {
  width: 14.5em;
  height: 13.6em;
}

.kamal .content-table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 9.3em;
  gap: 5.3em;
}

.kamal .tab {
  width: 9.3em;
}

.kamal .content-table h3 {
  font-size: 25px;
  height: 2em;
}

.kamal .content-table p {
  font-size: 18px;
}

.kamal .content-table-iki {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 8em;
  margin-bottom: 12.5em;
  gap: 7.5em;
}

.kamal .tab-iki {
  width: 15em;
}

.kamal .content-table-iki h3 {
  font-weight: bold;
  color: #1e4681;
  font-size: 25px;
  height: 3em;
}

.kamal .content-table-iki p {
  font-size: 18px;
}

.kamal ul {
  font-size: 24px;
  width: 30em;
  margin: 0;
  padding: 0 1em;
}

.kamal ul li {
  padding-bottom: 0.41em;
}

/*phone*/
@media screen and (min-width: 0px) and (max-width: 600px) {
  .kamal {
    margin-left: 2em;
  }

  .kamal .content-bir {
    flex-direction: column;
    gap: 2em;
  }

  .kamal h1 {
    font-size: 36px;
  }

  .kamal .par {
    font-size: 18px;
  }

  .kamal .content-bir img {
    width: 14em;
    height: 14em;
    padding-left: 0;
  }

  .kamal .content-iki img {
    display: none;
  }

  .kamal .content-table {
    margin: 0;
  }

  .kamal .content-iki {
    margin-bottom: 3em;
  }

  .kamal .tab {
    width: 6em;
  }

  .kamal .content-table h3 {
    font-size: 18px;
    height: 0.8em;
  }

  .kamal .content-table p {
    font-size: 14px;
  }

  .kamal .content-table-iki {
    margin-top: 3.5em;
    margin-bottom: 6em;
    gap: 3.5em;
  }

  .kamal .tab-iki {
    width: 18em;
  }

  .kamal .content-table-iki h3 {
    font-size: 20px;
  }

  .kamal .content-table-iki p {
    font-size: 16px;
  }

  .kamal ul {
    width: 100%;
    margin: 0;
    padding: 0 0.8em;
  }
  .kamal li {
    font-size: 14px;
  }
}

/* tablet */
@media screen and (min-width: 601px) and (max-width: 991px) {
  .kamal {
    margin-left: 3em;
  }
  .kamal h1 {
    font-size: 32px;
  }

  .kamal .par {
    font-size: 14px;
  }

  .kamal .content-bir {
    gap: 2em;
  }

  .kamal .content-bir img {
    width: 10em;
    height: 10em;
    padding: 0 3em;
  }

  .kamal .content-iki {
    margin-top: 2em;
    margin-bottom: 4em;
  }
  .kamal .content-iki img {
    width: 8.4em;
    height: 7.3em;
  }

  .kamal .content-table {
    margin-left: 4em;
    gap: 4em;
  }
  .kamal .tab {
    width: 6em;
  }
  .kamal .content-table h3 {
    font-size: 15px;
    height: 0.8em;
  }

  .kamal .content-table p {
    font-size: 11px;
  }

  .kamal .content-table-iki {
    margin-top: 4em;
    margin-bottom: 6em;
    gap: 4em;
  }

  .kamal .content-table-iki h3 {
    font-size: 15px;
  }

  .kamal .content-table-iki p {
    font-size: 11px;
  }

  .kamal ul {
    width: 100%;
    margin: 0;
    padding: 0 0.5em;
  }
  .kamal li {
    font-size: 14px;
  }
}

.nih-header {
  /* margin-bottom: 188px; */
  margin: 0px 0px 188px 121px;
  font-size: 55px;
}

.nih-cards {
    display: grid;
    grid-template-columns: repeat(3, 399px);
    padding-top: 37px;
    gap: 37px;
    margin-left: 25px;
}

.nih-card {
  height: 328px;
  border-radius: 30px;
  box-shadow: 1px 1px 15px 0px #00000040;
  position: relative;
}

.nih-card:hover {
  margin-top: -20px;
  transition: 0.5s;
}

.nih-card h4 {
  font-size: 30px;
}

.nih-card p {
  font-size: 25px;
}

.nih-card img {
  width: 100%;
  height: 160px;
}

.nih-cardText {
  padding: 17px;
}

@media screen and (min-width: 601px) and (max-width: 991px) {
  /* body {
        background-color: red;
    } */

  .nih-header {
    font-size: 26px;
  }

    .nih-cards {
        grid-template-columns: repeat(3, 231.09px);
        /* grid-template-rows: repeat(3, 189.97px); */
        gap: 21px;
        /* gap: 200px; */
        margin: 0;
    }
  .nih-card {
    height: 189.97px;
  }

  .nih-card img {
    height: 92.67px;
  }

  .nih-card h4 {
    font-size: 17px;
  }

  .nih-cards p {
    font-size: 14px;
  }
}

@media screen and (min-width: 300px) and (max-width: 600px) {
  /* body {
        background-color: blue;
    } */

  .nih-header {
    font-size: 32px;
  }

    .nih-cards {
        grid-template-columns: 185.92px;
        /* grid-template-rows: repeat(3, 189.97px); */
        gap: 24px;
        justify-content: center;
        /* gap: 200px; */
    }

  .nih-card {
    height: 152.84px;
  }

  .nih-card img {
    height: 74.56px;
  }

  .nih-card h4 {
    font-size: 14px;
  }

  .nih-cards p {
    font-size: 12px;
  }
}

.nuraib {
  width: 100%;
  height: 780px;
  background: #efefef;
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.nuraib .header {
  font-size: 55px;
  height: 93px;
  margin-left: 121px;
  margin-top: 91px;
  line-height: 55.76px;
}

.nuraib .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 791px;
  height: 451px;
  margin-left: 125px;
  border-radius: 30px;
  background-color: #fff;
  -webkit-box-shadow: -14px -7px 141px -110px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -14px -7px 141px -110px rgba(0, 0, 0, 0.75);
  box-shadow: -14px -7px 141px -110px rgba(0, 0, 0, 0.75);
}

.nuraib .container .box {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-left: 20px;
}

.nuraib .container .box .title {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.nuraib .container .box .info {
  width: 100%;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;
}

.nuraib .container .box .info .info-text .text {
  font-weight: 700;
  font-size: 30px;
  line-height: 30.42px;
  margin-bottom: 40px;
}

/* Media Query for Tablet Mode */
@media (max-width: 991px) and (min-width: 600px) {
  .nuraib {
    height: auto;
    margin-left: 0;
  }

  .nuraib .header {
    font-size: 35px;
    margin-left: 40px;
    margin-top: 20px;
    text-align: start;
  }

  .nuraib .container {
    width: 70%;
    margin-left: 40px;
    padding: 10px;
  }

  .nuraib .container .box {
    margin-left: 0;
    padding: 10px;
    gap: 20px;
  }

  .nuraib .container .box .title {
    font-size: 16px;
    line-height: 22px;
  }

  .nuraib .container .box .info .info-text .text {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

/* Media Query for Mobile Phones */
@media (max-width: 600px) and (min-width: 300px) {
  .nuraib .container {
    width: 90%; /* Adjusted to 90% width for mobile */
    margin: 0 auto; /* Center the container horizontally */
    padding: 5px;
  }

  .nuraib .header {
    font-size: 28px;
    margin-left: 5px;
    margin-top: 10px;
  }

  .nuraib .container .box {
    padding: 5px;
    gap: 15px;
  }

  .nuraib .container .box .title {
    font-size: 14px;
    line-height: 20px;
  }

  .nuraib .container .box .info {
    gap: 5px;
  }

  .nuraib .container .box .info .logo {
    width: 40%;
  }

  .nuraib .container .box .info .info-text .text {
    font-size: 14px;
    margin-bottom: 10px;
  }
}

.lam_main {
  width: 100%;
  height: 780px;
  background-color: #9dc9c8;
}
.lam_p11 {
  font-weight: 700;
  font-size: 55px;
  line-height: 55.76px;
  display: inline;
}
.lam_p {
  width: 980px;
  height: 66px;
  font-family: "Roboto Slab", serif;
}
.lam_main1 {
  margin-left: 121px;
  padding-top: 180px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.lam_span {
  font-weight: 400;
  font-size: 80px;
}
.lam_par {
  font-size: 25px;
  font-weight: 400;
}
.main_ul1 {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 294px;
}
.main_ul2 {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 294px;
}
.lam_main3 {
  display: flex;
  gap: 100px;
}
.lam_list1 {
  font-weight: 400;
  font-size: 25px;
  line-height: 25.35px;
}
.lam_list2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 18.25px;
}
footer {
  height: 390px;
  width: 100%;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lam_footer {
  width: 88%;
  height: 310px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 121px;
}
.lam_img {
  width: 115px;
  height: 68px;
}
.lam_img1 {
  width: 33px;
  height: 33px;
}
.lam_img2 {
  width: 32px;
  height: 32px;
}
.lam_img3 {
  width: 35px;
  height: 35px;
}
.lam_img4 {
  width: 34px;
  height: 34px;
}
.lam_src1 {
  width: 27px;
  height: 27px;
  padding-right: 10px;
}
.lam_src2 {
  width: 27px;
  height: 18px;
  padding-right: 10px;
}
.lam_one {
  display: flex;
  justify-content: space-between;
}
.lam_ul1 {
  display: flex;
  list-style: none;
  flex-direction: column;
  margin-top: 0;
  gap: 10px;
}

.lam_p1 {
  color: #fff;
  font-size: 25px;
  line-height: 25.35px;
}
.lam_p2 {
  color: #fff;
  font-size: 25px;
  line-height: 25.35px;
}
.lam_fonts {
  display: flex;
  gap: 15px;
}
.lam_one1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.lam_bottom {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 18.25px;
}
.lam_foot2 {
  display: flex;
}
.lam_src1 {
  width: 27px;
  height: 27px;
}
.lam_src2 {
  width: 27px;
  height: 18px;
}
/* Tablet */
@media screen and (min-width: 601px) and (max-width: 991px) {
  .lam_main {
    width: 100%;
    height: 451.75px;
  }
  footer {
    height: 225.88px;
    width: 100%;
    
  }
  .lam_footer {
    width: 800px;
    height: 180px;
    margin-left: 70.66px;
    margin-right: 90px;
  }
  .lam_img {
    width: 66.6px;
    height: 39.38px;
  }
  .lam_img1 {
    width: 19.11px;
    height: 19.11px;
  }
  .lam_img2 {
    width: 18.53px;
    height: 18.53px;
  }
  .lam_img3 {
    width: 20.27px;
    height: 20.27px;
  }
  .lam_img4 {
    width: 19.69px;
    height: 19.69px;
  }
  .lam_src1 {
    width: 15.64px;
    height: 15.64px;
    padding-right: 0;
    margin-right: 5px;
  }
  .lam_src2 {
    width: 15.64px;
    height: 10.43px;
    padding-right: 0;
    margin-right: 5px;
  }
  .lam_p1 {
    font-size: 14px;
    line-height: 14.19px;
  }
  .lam_p2 {
    font-size: 14px;
    line-height: 14.19px;
  }
  .lam_bottom {
    font-size: 10px;
    line-height: 10.14px;
  }
  
  .lam_ul1 {
    gap: 5px;
  }
  .lam_p11 {
    font-size: 32px;
    line-height: 32.44px;
  }
  .lam_par {
    font-size: 14px;
  }
  .lam_span {
    font-size: 46px;
  }
  .lam_main1 {
    margin-left: 70.66px;
    padding-top: 90px;
    gap: 15px;
  }
  .lam_list1 {
    font-size: 14px;
    line-height: 14.19px;
  }
  .lam_list2 {
    font-size: 10px;
    line-height: 10.14px;
  }
  .main_ul1 {
    width: 170.28px;
  }
  .main_ul2 {
    width: 170.28px;
  }
  
}
/* Mobile */
@media screen and (min-width: 300px) and (max-width: 600px) {
  .lam_main {
    width: 100%;
    height: 363.46px;
  }
  footer {
    width: 100%;
    height: 251px;
  }
  .lam_p11 {
    font-size: 26px;
    line-height: 26.36px;
  }
  .lam_main1 {
    margin-left: 34px;
    padding-top: 50px;
    gap: 15px;
  }
  .main_ul1 {
    width: 138px;
  }
  .main_ul2 {
    width: 58%;
  }
  .lam_p {
    width: 200px;
  }
  .lam_par {
    font-size: 12px;
  }
  .lam_span {
    font-size: 37px;
  }
  .lam_list1 {
    font-size: 12px;
    line-height: 12.17px;
  }
  .lam_list2 {
    font-size: 10px;
    line-height: 10.14px;
  }
  .lam_ul1 {
    gap: 3px;
  }
  .lam_main3 {
    gap: 37px;
  }
  .lam_img {
    width: 53.59px;
    height: 31.69px;
  }
  .lam_img1 {
    width: 15.38px;
    height: 15.38px;
  }
  .lam_img2 {
    width: 14.91px;
    height: 14.91px;
  }
  .lam_img3 {
    width: 16.31px;
    height: 16.31px;
  }
  .lam_img4 {
    width: 15.84px;
    height: 15.84px;
  }
  .lam_src1 {
    width: 12.58px;
    height: 12.58px;
    padding-right: 0;
    margin-right: 5px;
  }
  .lam_src2 {
    width: 12.58px;
    height: 8.39px;
    padding-right: 0;
    margin-right: 5px;
  }
  .lam_p1 {
    font-size: 12px;
    line-height: 12.17px;
  }
  .lam_p2 {
    font-size: 12px;
    line-height: 12.17px;
  }
  .lam_one {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .lam_footer {
    width: 100%;
    height: 251px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 37.85px;
    margin-top: 30px;
  }
  .lam_ul1 {
    padding-left: 0;
  }
  .lam_bottom {
    font-size: 10px;
    line-height: 10.14px;
    margin-bottom: 30px;
  }
}
