* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", system-ui;
}

.nuraib {
    width: 100%;
    height: 780px;
    background: #EFEFEF;
    display: flex;
    flex-direction: column;
    gap: 34px;
}

.nuraib .header {
    font-size: 55px;
    height: 93px;
    margin-left: 121px;
    margin-top: 91px;
    line-height: 55.76px;
}

.nuraib .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 791px;
    height: 451px;
    margin-left: 125px;
    border-radius: 30px;
    background-color: #FFF;
    -webkit-box-shadow: -14px -7px 141px -110px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -14px -7px 141px -110px rgba(0, 0, 0, 0.75);
    box-shadow: -14px -7px 141px -110px rgba(0, 0, 0, 0.75);
}

.nuraib .container .box {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-left: 20px;
}

.nuraib .container .box .title {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.nuraib .container .box .info {
    width: 100%;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: flex-start;
}

.nuraib .container .box .info .info-text .text {
    font-weight: 700;
    font-size: 30px;
    line-height: 30.42px;
    margin-bottom: 40px;
}

/* Media Query for Tablet Mode */
@media (max-width: 768px) {
    .nuraib {
        height: auto;
    }

    .nuraib .header {
        font-size: 35px;
        margin-left: 40px;
        margin-top: 20px;
        text-align: start;
    }

    .nuraib .container {
        width: 70%;
        margin-left: 40px;
        padding: 10px;
    }

    .nuraib .container .box {
        margin-left: 0;
        padding: 10px;
        gap: 20px;
    }

    .nuraib .container .box .title {
        font-size: 16px;
        line-height: 22px;
    }

    .nuraib .container .box .info .info-text .text {
        font-size: 20px;
        margin-bottom: 20px;
    }
}

/* Media Query for Mobile Phones */
@media (max-width: 480px) {
    .nuraib .container {
        width: 90%; /* Adjusted to 90% width for mobile */
        margin: 0 auto; /* Center the container horizontally */
        padding: 5px;
    }

    .nuraib .header {
        font-size: 28px;
        margin-left: 5px;
        margin-top: 10px;
    }

    .nuraib .container .box {
        padding: 5px;
        gap: 15px;
    }

    .nuraib .container .box .title {
        font-size: 14px;
        line-height: 20px;
    }

    .nuraib .container .box .info {
        gap: 10px;
    }

    .nuraib .container .box .info .info-text .text {
        font-size: 18px;
        margin-bottom: 10px;
    }
}
